/*!
 * Advertising Page style v 1.1
 * Version: 1.1
 * Author: By Ayat Ahmed
 * Author URL: Ayaat.A7med@gmail.com
 * Copyright 2017
 */
@media (min-width:992px) {
    
    .top-links , .top-links a{
        font-size: 14px;
    }
    .colored-limks{
        display: inline-block;
    }
    #search-bar form button{
        width: 200px;
    } 
    .lang-links , .ad{
        display: inline-block;
        position: relative;
    }
    .hovereffect .overlay , .hovereffect .overlay  a{
        font-size: 14px ;
    }
    .hovereffect .overlay i{
        font-size: 18px ;
    }
    .hovereffect img{
     min-width: 300px;
    width: 100%;
    height: 150px
    }
    .serv-block{
        padding: 10px;
    }
    .overlay .col-xs-3{
        margin-top: 10px;
    }
    .feat-block .overlay .col-xs-6 a{
        font-size: 11px;
    }
    .comp-ar-ti{
    text-align: right;

    }
    .comp-en-ti{
        text-align: left;
    }
    #ad-view-gallery ul .img-responsive{
        height: 450px;
    }
    .serv-block.comp-g{
        height: 150px;
        min-height: auto;
    }
    .compare-img img{
        height: 180px;
        margin: 5px auto;
    }
    .compare-item strong{
        height: 30px;
    }
}
@media (max-width: 991px) and (min-width: 769px){
    .top-links , .top-links a{
        font-size: 14px;
    }
    .top-links {
        margin:  10px auto;
        float: none !important;
        width: 100%;
    }
    .colored-limks{
        display: block;
        margin-bottom: 15px;
    }
    #search-bar form button{
        width: 40%;
    }
    .lang-links , .ad{
        display: inline-block;
        position: relative;
    }
    .hovereffect .overlay , .hovereffect .overlay  a , .hovereffect .overlay i{
        font-size: 10px ;
    }
    .hovereffect img{
        min-width: 300px;
    height: 150px;
    width: 100%;
    }
    .serv-block{
        padding: 4px 2px;
    }
    .overlay .col-xs-3{
        margin-top: 13px;
    }
    .feat-block .overlay .col-xs-6 a{
        font-size: 11px;
    }
    .comp-ar-ti ,.comp-en-ti{
        text-align: center;
    }
    #ad-view-gallery ul .img-responsive{
        height: 220px;
    }
    .serv-block.comp-g{
        height: 140px;
        min-height: auto;
    }
    .compare-img img{
        height: 150px;
        margin: 5px auto;
    }
    .compare-item strong{
        height: 45px;
    }
}

@media (max-width: 767px) {
    .langu{
        float: right;
    }

    .top-links , .top-links a{
        font-size: 12px;
    }
    .top-links {
        margin:  10px auto;
        float: none !important;
        width: 100%;
    }
     .colored-limks{
        display: block;
        margin-bottom: 15px;
    }
    #search-bar form button{
        width: 100%;
    }
    .serv-block{
            min-height: 189px;
    }
    .lang-links{
        display: block;
        position: absolute;
        bottom: -50px;
        z-index: 99;
        
    }
    .lang{
        color: #fff;
    }
    .ad{
        position: absolute;
        top: -42px;
        left: 19px;
    }
    .hovereffect .overlay , .hovereffect .overlay  a {
        font-size: 10px ;
    }
    .hovereffect .overlay i{
        font-size: 12px ;
    }
    .hovereffect img{
        min-width: 300px;
    height: 84px;
    width: 100%;
    }
    .serv-block{
        padding: 4px 2px;
    }
    .overlay .col-xs-3{
        margin-top: 13px;
    }
    .feat-block .overlay .col-xs-6 a{
        font-size: 9px;
    }
    .feat-block.sec .overlay a i{
        font-size: 16px;
    }
    
    .form-group input[type=checkbox], .form-group input[type=radio]{
        width: 20px;
        height: 20px;
        display: block;
        margin-bottom: 4px;
    }
    .form-group input[type=submit] , .cancel{
        width: 100%;
        
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a {
        color: #fff;
    }
    .comp-ar-ti ,.comp-en-ti{
        text-align: center;
    }#ad-view-gallery ul .img-responsive{
        height: 220px;
    }
    .serv-block.comp-g{
           height: 153px;
    min-height: auto;
    }
    .compare-img img{
        height: 150px;
        margin: 5px auto;
    }
    .compare-item strong{
        height: 45px;
    }
}

@font-face{
    font-family:'ShiliaMedium';
    src: url('../fonts/shilia/medium/ShiliaMedium.eot?#') format('eot');
    src: url('../fonts/shilia/meduim/ShiliaMedium.woff') format('woff'),
         url('../fonts/shilia/meduim/ShiliaMedium.ttf') format('truetype'),
         url('../fonts/shilia/meduim/ShiliaMedium.svg#ShiliaMedium') format('svg')
}

/* bootstrap edit */
.btn{
    line-height: inherit;
}

.navbar-default {
    border: none;
    border-radius: 0;
    color:#fff;
}
.navbar{
    margin: 0;
}
.navbar-default .navbar-nav>li>a , .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus{

    color:#fff;
}
.navbar img{
    width: 30px;
}
.ui.dropdown , .ui.dropdown .menu>.item{
    text-align: right;
}
.ui.fluid.dropdown>.dropdown.icon{
    float: left;
    left: 1em;
    right: auto;
}
.ui.selection.dropdown{
    padding: .78571429em 1em .78571429em 2.1em;
    color: #555 !important;

}
.ui.dropdown .menu .selected.item, .ui.dropdown.selected , .ui.selection.visible.dropdown>.text:not(.default){
    color: #555 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
    border: none;
}
.fa-phone{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
}

/* bootstrap edit */





/* index css  */
body{
    background-color: #ebedec;
  
}
body , body a{
        font-family: Tahoma,Arial;
}
body a , body a:hover , body a:focus{
    text-decoration: none;
}
ul{
    list-style: none;
}
.topbar{
    min-height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.top-links , .main-nav{
    display: block;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding-right: 0;
}

.top-links li , .main-nav li{
    display: inline-block;
    line-height: 25px;
    margin: 0;
}
.top-links  li{
    margin: 0 0 0 -2px;
}

.top-links li img{
    height: 20px;
    margin: 0 10px;
}

.top-links li a , .top-links .reg ui {
    padding: 15px 10px;
    min-height: 50px;
    margin: 0;
}
.top-links li a i{
    font-size: 16px;
    margin-left: 5px;
    line-height: 25px;
    width: 30px;
    height: 30px;
    line-height: 27px;
    text-align: center;
    border-radius: 50%;
}
.logo img{
    height: 50px;
}

.reg , .lang{
    
}

nav{
    display: block;
}
.main-nav{
    display: inline-block;
}
.main-nav .ui.dropdown{
    padding: 15px;
    font-size: 16px;
}
.main-nav .ui.dropdown>.dropdown.icon {
    margin: 0;
}
#ads-sli{
    padding: 10px 0;
    display: block;
    position: relative;
}
.ads-block > div , .ads-block img , .ads-block iframe, .ads-block video{
    width: 300px;
    height: 250px;
}
.dropdown .item{
    margin-top: 5px;
    margin-bottom: 5px;
}
.ad .blue-btn , .side-btn {
    color: #fff;
    border-radius: 37px;
    padding: 10px 10px 10px 13px;
}
.lang{
    padding-right: 10px;
}
#ads-sli img{
    margin: 0 auto;
}
.adsli-btn{
    text-align: center;
    position: relative;
    margin: 5px auto;
    right: 0;
    left: 0;
    z-index: 99;
    cursor: pointer;
}
.adsli-next , .adsli-prev{
    display: inline-block;
    font-size: 26px;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.adsli-btn i{
    line-height: 37px;
}
#search-bar{
    display: block;
    position: relative;
}
#search-bar::after{
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-image: url(../img/person-apple-laptop-notebook.jpg);
    right: 0;
    background-position: top right;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.2;
    z-index: 2;
    left: 0;
}

 #feature-sli .container{
    padding-top: 20px;
    padding-bottom: 20px;
    display:block;
    position: relative;
    z-index: 9;
}
#search-bar .container{
    padding: 10px 0 0 0;
    display:block;
    position: relative;
    z-index: 9;
}
#search-bar form{
    padding-top: 20px;
    padding-bottom: 20px;
}
#search-bar form .h1{
    margin-bottom: 30px;
    color: #fff;
}
#search-bar form input , #search-bar form select , .ui.fluid.dropdown{
    margin-bottom: 10px;
    min-height: 2.71428571em;
}
#search-bar form .search-btn{
    text-align: center;
    
   
} 
#search-bar form button{
    margin: 10px auto;
    padding: 10px 20px;
    text-align: center;
    border-radius: 20px;
   
} 
#feature-sli .container{
    z-index: 5
}
.serv-block{
    text-align: center;
}
.serv-block img {
    border-radius: 50%;
    margin: 10px auto;
    width: 85px;
    height: 85px;
    padding: 4px;

}
.serv-cont , .serv-cont:hover , .serv-cont:focus{
    color: #fff;
}
#center-ads{
    padding: 10px 0;
    clear: both;
}
.div-title{
    padding: 10px 11px;
    border-bottom: 2px solid #000;
}
#ads-sli , .sidebar , .main-content{
       background: #fff;
    padding-top: 34px;
}
#center-ads img{
    min-width: auto;
    
}
.sidebar{
    border: 5px solid #ebedec;
}
.sidebar .ad{
    margin-bottom: 10px;
}
.site-content , .side-block{
    margin-bottom: 10px;
}
.serv-block{
    border: 1px solid #fff;
}
.main-content img{
    margin-right: auto;
    margin-left: auto;
}
.bottom-ad{
    margin-bottom: 10px;
}
footer{
        background-color: rgba(208, 208, 208, 0.55);
}
footer ul {
    padding: 30px 10px;
}
footer ul li{
    margin-bottom: 10px;
    display: block;
}
footer ul a{
     padding: 20px 5px;
    color: #555;
    font-size: 15px;
}
.foot-ser li{
        display: inline-block;
    width: 50%;
    float: right;
}
footer .social li{
    display: inline-block;
    margin-left: 3px;
}
footer .social li i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
}
footer .rights{
    padding: 5px;
    color: #fff
}
footer .social li i:hover , footer .social li i:focus{
    color: #fff;
}
.source-links{
    width: 110px;
    height: 45px;
    position: absolute;
    bottom: 0;
    color: #fff;
    border-top-left-radius: 20px;
    display: none;
    z-index: 993;
}
.ads-block img.def-video{
    position: absolute;
    z-index: 99;
    top: 0;
    bottom: 0;
    opacity: 0.4;
}
.go-link , .go-view{
        display: inline-block;
    width: 48%;
    text-align: center;
    padding: 8px 0px;
}
.go-link a, .go-view a{
    color: #fff;
    padding: 8px 10px;
    font-size: 20px;
    line-height: 35px;
}
.ads-block:hover .source-links{
    display: block;
    
}
.share-menu{
    display: block;
    position: relative;
}
.share-item{
    display: block;
    margin: 5px auto;
}
.share-item a{
    padding: 10px 1px;
    text-align: center;
}
.share-list{
    margin-bottom: -10px;
}

.share-item a i{
    font-size: 19px !important;
        padding: 6px 5px;
}
.share-item a i.fa-facebook{
    color: #337ab7;
}
.share-item a i.fa-whatsapp{
    color: #1be6b8;
}
.share-item a i.fa-twitter{
    color: #03b5ff;
}

/*
.ads-block:hover .source-links{
    width: 300px;
    height: 250px;
    border-radius: 0;
    
}
.ads-block:hover .source-links .go-view , .ads-block:hover .source-links .go-link{
    top: 50%;
    transform: translateY(41%);
    height: 100%;
    
}
.ads-block:hover .go-view a , .ads-block:hover .go-link a{
    font-size: 40px;
    
}*/
.profile , .lang , .reg{
    cursor: pointer;
}
.profile i.fa-user{
    width: 35px;
    height: 35px;
    line-height: 33px;
    /* top: 19px; */
    color: #fff;
    margin: -6px 0;
    border-radius: 50%;
    background: #1be6b8;
    font-size: 22px;
}
.profile .dropdown-menu i{
    position: relative;
}
/* index css  */



/* offers page css  */

.feat-block.sec img{
    width: 100%;
    height: auto;
    min-width: auto;
    max-height: 300px;
}
.feat-block.sec .feat-title{
    max-height: 76px;
    height: 83px;
}
.feat-block.sec .overlay{
    padding: 3px 0;
}
.feat-block.sec .overlay .col-xs-6 a span{
    font-size: 9px;
}
.side-search {
    margin-top: 10px;
}
/* offers page css  */

/* add-car page css  */
.add-adCp{
    background-color: #fff;
}
.add-adCp .container-fluid{
        overflow-x: hidden;
}
.ad-title{
    color: #505252;
    padding: 25px 0;
    border-bottom: 1px solid #999;
}
.dropzone{

    background-color: #f9f9f9;
    border: 2px solid #f5f5f5;
    margin-bottom: 10px;
    text-align: center;
    display: block;
    position: relative;
    overflow-x: hidden;

}
.dz-message span{
    font-size: 20px;
    color: #999;
}
.fallback{
    margin-bottom: 20px;
}
label{
    font-weight: normal;
}
.car-upvid{
    direction: ltr;
}
.form-group input[type=submit] , .cancel{
    padding: 10px 55px;
    border-radius: 30px;
    margin-top: 10px;
}
.cat-links {
    background-color: #555;
}
.cat-links ul{
    display: block;
    position: relative;
    margin-bottom: 25px;
    border-color: #fff;
}
.cat-links ul li{
    display: inline-block;
    color: #fff;
}
.cat-links ul li a{
    padding: 4px 0 4px 7px;
    color: #fff;
}
.cat-links  .ad-title{
    padding: 0 10px 10px 0;
}
.view-ad-ti{
    padding: 20px 10px;
    color: #fff;
}
.view-ads-content{
    margin-top: 10px;
}
.ad-view-contText{
    font-size: 14px;
    color: #666;
    line-height: 28px;
    padding: 15px;
    background-color: #f9f9f9;
}
/* add-car page css  */


/* view-ads page css  */
#ad-view-gallery{
    padding-top: 3px;
    background-color: #f9f9f9;
}
#ad-view-gallery ul .img-responsive{
        width: 100%;
}
#ad-view-gallery ul video{
        width: 100%;
}
.lSSlideOuter.lSrtl .lSGallery li{
    overflow: hidden;
}
.lSSlideOuter.lSrtl .lSGallery li img{
    width: 100%;
    height: 50px;
    min-height: 50px;
}

.ad-view-more , .ad-viw-info{
        background-color: #f9f9f9;
        padding-top: 10px;
}
.ad-view-more .col-xs-3{
    margin-top: 14px;
    font-size: 12px;
}
.vi-more ul{
    display: block;
    width: 100%;
    position: relative;
    margin-top: 10px;
    padding-right: 0;
    padding-top: 10px;
}
.ad-view-address{
    padding: 10px 0;
}
.vi-more li{
        display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    border-right: 1px solid #999;
}
.adress{
    line-height: 1.6em;
}
.same-item img{
    height: 150px;
    margin-top: 10px;
    min-width: auto ;
}
.ad-view-Finfo .table-bordered{
    text-align: center;
    table-layout: fixed;
}

.ad-view-Finfo .table-bordered , .ad-view-Finfo .table-bordered>tbody>tr>td{
    border: 2px solid #fff;
}
.ad-view-Finfo .table i{
        display: block;
    text-align: center;
    margin: 10px auto;
    line-height: 30px;
    font-size: 30px;
}
.ad-view-Finfo td{
    background-color: #f9f9f9;
    width: 27%;
}
.ad-view-Finfo .view-price{
    background-color: #1be6b8;
    color: #fff;
    width: 45%;
    
}
.ad-view-Finfo .view-price span{
    font-weight: bold;
    
}
.ad-view-Finfo .fa-clock-o{
    color: #1be6b8;
}
.ad-view-Finfo .fa-eye{
    color: #03b5ff;
}
.ad-view-auth-img img{
        border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    margin-top: -22px;
    border: 2px solid #1be6b8;
}
.ad-view-author div{
    display: inline-block;
    margin-left: 20px;
}
.ad-viw-auth-info a{
    font-size: 20px;
    display: block;
}
.ad-viw-auth-phone a{
    display: block;
    line-height: 45px;
    font-size: 20px;
    text-align: center;
    border-radius: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.add-share{
    margin-top: 20px;
}
.add-share a{
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    display: block;
    color: #fff;
}
#add-offer-det form input[type=submit]{
    line-height: 32px;
    padding: 0 31px;
    margin-top: 10px;
}
.add-offer a{
    margin-top: 10px;
    width: 100%;
    font-size: 20px;
    padding: 15px;
    display: inline-block;
    border-radius: 30px;
        outline: 0;
}
.orig-offr label{
        line-height: 59px;
    font-size: 14px;
}
.add-ofer-tab{
    
}
#add-offer-det form{
    margin-top: 10px;
}
.hid.alert{
    position: fixed;
    top: 50%;
    bottom: 0;
    left: 5px;
    right: 5px;
    text-align: center;
    height: 50px;
    width: 230px;
    z-index: 99999;
    transform: translateY(-50%);
    margin: auto;
    display: none;
}
.cv-block {
    position: relative;
    overflow: hidden;
    margin: 10px;
    text-align: center;
    width: 100%;
}
.cv-block input.cv-up {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    height: 100%;
}
.cv-block .blue-btn{
    display: block;
    width: 150px;
    text-align: center;
    padding: 13px;
    font-size: 20px;
    margin: 5px auto;
}
/* view-ads page css  */

/* comp-pro page css  */
#header-comp{
    padding: 30px 0;
    color: #555;
}

.comp-ar-ti .h3 ,.comp-en-ti .h3 {
    margin-top: 20px;
    font-weight: bold;
    
}
.comp-logo img{
    display: block;
    margin: 3px auto;
    width: 130px;
    height: 130px;
    border: 3px solid #ddd;
    padding: 3px;
    border-radius: 50%;
}

.comp-rating .ui.star.rating .icon{
    font-size: 20px;
    padding-top: 10px;
}
.comp-view-desc{
    font-size: 14px;
    color: #666;
    padding: 15px;
    background-color: #f9f9f9;
    margin-bottom: 10px;
}
.comp-view-desc p{
        line-height: 25px;
}

.comp-v-ti{
    font-weight: bold;
    padding: 20px 0;
    font-size: 16px;
}
.comp-v-val{
    padding: 20px 0;
}
.comp-v-soc , .comp-v-serv{
        display: block;
    position: relative;
    padding-right: 0;
}
.comp-v-soc li , .comp-v-serv li{
        display: inline-block;
    font-size: 15px;
}
.comp-v-soc li a{
    color: #fff;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    text-align: center;
    line-height: 29px;
    display: block;
}
.comp-v-serv li a{
        padding: 5px 18px;
    background: #888;
    border-radius: 17px;
    color: #fff;
    display: block;
    margin-bottom: 4px;
}
.comp-view-info p:nth-child(2){
        margin-bottom: 5px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.com-em-info{
    margin-top: 10px;
}

.com-em-info .h4 , .com-em-info .h5{
    margin-bottom: 0;
    overflow: hidden;
    max-height: 21px;
}
.com-em-info .h5{

    max-height: 23px;
}
.com-em-img img{
    width: 180px;
    height: 180px;
    margin: 0 auto;
    display: block;
}
.comp-ads-more{
    text-align: center;
}
.comp-ads-more a{
    margin: 10px auto;
    display: inline-block;
    padding: 10px 75px;
}
/* comp-pro page css  */

/* comp-guide page css  */
.serv-block.comp-g{
    
}
.serv-block.comp-g .serv-cont{
    color: #777;
    border: 1px solid #ddd;
    display: block;
    padding-bottom: 10px;
    height: 100%;
    padding: 2px;
}
.serv-block.comp-g .serv-cont i{
        padding-bottom: 10px;
    border-bottom: 1px solid;
    font-size: 45px;
}
.serv-block.comp-g .serv-cont .serv-title p{
   font-size: 14px;
    font-weight: bold;
}

/* comp-guide page css  */
/* comp-view page css  */
.comp-b-img img{
    width: 100px;
    height: 100px;
    margin: 10px auto;
    display: block;
    padding: 3px;
    border: 1px solid #ddd;
}
.comp-bl-cont{
    margin-top: 10px;
}
.comp-bl-cont a{
    color: #555;
}
.comp-bl-cont a p.h5 strong{
    line-height: 1.24em;
    max-height: 20px;
    overflow: hidden;
    margin-bottom: 5px;
}
.comp-block p.h6{
    max-height: 16px;
    overflow: hidden;
    line-height: 1.25em;
}
/* comp-view page css  */
/* main-ads page css  */
ul.comp-ads-more li{
    display: inline-block;
    margin: 10px auto;
}
ul.comp-ads-more a{

    padding: 5px 8px;
}


/* main-ads page css  */
/* cars-category page css  */
.adsIc img{
    box-shadow: none !important;
    width: auto;
    height: 70px;
    border: none;
    margin: -10px 0 -3px 0;
    border-bottom: 1px solid #666;
    border-radius: 0;
    
}
.cat-links.categ{
    background-color: #f5f5f5;
    color: #666;
}
.cat-links.categ ul li a ,.categ p , .categ span{
    color: #666;
}
.cat-links.categ ul{
    border-color: #666;
}
/* cars-category page css  */
/* signup page css  */
.main-signup .form-group i {
    position: absolute;
    float: right;
    top: 14px;
    right: 10px;
    color: #999;
    font-size: 20px;
}
.form-group.ori i {
    color: #fd3e4f;
}
.form-group.ori .alert {
   display: none;
}
.main-signup  .form-group {
    position: relative;
}
.main-signup input:not([type=submit]) {
    padding-right: 35px;
}
input[type=file] {
    direction: ltr;
}
.main-signup p.h1{
    margin-bottom: 35px;
}
#main-signIn , #recover{
    position: absolute;
    display: block;
    top: 15px;
    left: auto;
    right: auto;
}
.main-signup form.tab-pane.active{
        z-index: 99;
    position: relative !important;
}
.done{
        background-color: #f9f9f9;
    padding: 30px;
    margin-bottom: 10px;
    color: #666;
}
.done .h1{
    margin-bottom: 20px;
}
.done-links a{
    color: #666;
    margin: 15px;
}
/* signup page css  */
/* barnds-view page css  */

.serv-block.comp-g.brand img {
    box-shadow: none !important;
    width: 90px;
    height: 90px;
    border: none;
    margin: -10px 0 -3px 0;
    border-radius: 50%;
}
.serv-block.comp-g.brand .serv-cont{
    border: none;
}
/* barnds-view page css  */

/* CV-view page css  */
.serv-block.cv{
    height: 290px;
}
.serv-block.cv .serv-title {
    display: block;
    padding: 13px 14px;
    height: 30px;
    overflow: hidden;
    background-color: #f7f7f7;
    margin-bottom: 6px;
    font-size: inherit;
    
}
.serv-title.cv-kind{
    color: #666;
}
.serv-block.cv .serv-cont i {
    padding-bottom: 10px;
    border-bottom: none;
    font-size: initial;
}
.serv-block.cv .serv-cont{
     background-color: #f7f7f7;
    padding-bottom: 4px;
}
.serv-block.cv img{
    width: 130px;
    height: 130px;
    margin-top: -20px;

}
/* CV-view page css  */
/* ads-compare page css  */

.compare-cont .panel ,.compare-cont .panel-title  , .compare-img img{
    width: 100%;
}
.compare-cont .panel-heading{
        color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
        padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.compare-cont .panel-body{
       padding: 4px 15px;
}
.panel-title {

    font-size: inherit;
}
.compare-ti  a{
 color: #666;   
}
.compare-item strong{
    width: 100%;
    margin-bottom: 5px !important;
    background-color: #f5f5f5;
    padding: 6px 15px;
    border-color: #ddd !important;
    overflow: hidden;
    line-height: 1.3em;
    font-size: 13px;
}
/* ads-compare page css  */
/* edit-usProfile page css  */
.edit-cont{
        margin: 0;
    padding: 0;
}
.edit-cont li , .offe-block a{
    display: block;
    width: 100%;
    clear: both;
    position: relative;
    padding: 5px 7px;
    margin-bottom: 5px;
    color: #666;
    background-color: #f8f8f8;
    border: 1px solid #f4f4f4;
}
.edit-cont li .form-group{
        width: 100%;
    display: block;
}
.edit-cont li .form-group input{
    margin-top: 3px;
    margin-bottom: 3px;
    height: 35px;
    display: inline-block;
}

.edit-cont li .form-group label{
    margin-top: 6px;

}
.offe-block a{
    border: none;
    border-bottom: 1px solid #f4f4f4;
    max-height: 30px;
    overflow: hidden;
}
.usPro .feat-block img{
    min-width: auto;
}
.edit-cont li input[type=file]{
    width: 100%;
    display: block;
    height: 90px;
    opacity: 0;
    cursor: pointer;
    position: relative;
    z-index: 99;
}
.edit-cont li .user-img , .edit-cont li .img-cam{
    position: absolute;
    top: 18px;
    width: 90px;
    height: 90px;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
    opacity: 0.8;
}
.edit-cont li .img-cam{
        z-index: 9;
    opacity: 1;
    width: 90px;
    height: 90px;
    text-align: center;
    line-height: 90px;
    background-color: rgba(255,255,255,0.4);
    margin: 0 auto;
    border-radius: 50%;
}
.usimg p.h5{
    line-height: 25px;
}
#chPass.fade{
    display: none;
}
#chPass.fade.active{
    display: block;
}
/* edit-usProfile page css  */
/* view-usProfile page css  */

.edit-cont.view-cont .user-img{
    display: block;
    position: relative;
    width: 120px;
    height: 120px;
}

/* view-usProfile page css  */
/* edit-compProfile page css  */
.edit-inf a{
   display: inline-block;
    font-size: 18px;
    height: 20px;
    line-height: 20px;
    margin-top: 10px;
    width: 40%;
}
#comp-em-slider2{
    height: auto;
}
#comp-em-slider2 .com-em-item{
    height: auto;
}
.job-cont{
    position: relative;
    clear: both;
}
.job-days label{
    position: absolute;
    top: 5px;
    right: 40px;
}
.job-days select{
    position: absolute;
    top: 4px;
    right: 5px;
}
/* edit-compProfile page css  */
/* contactUs page css  */

.edit-cont li .alert-danger{
    display: none;
}
/* contactUs page css  */
/* user-pro page css  */
.user-ads .cancel{
    padding: 2px;
    color: auto;
    color: #fff !important;
}
.user-ads .cancel:hover{

    color: #fd3e4f !important;
}
.user-ads .featured.sold::after{
        background-color: #666 !important;
    content: "مباع" !important;
}
.user-ads .featured.sold .cancel{
    pointer-events: none;
    cursor: default;
   opacity: 0.4;
}

/* user-pro page css  */

/*feature-slider edit*/
.hovereffect {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    display: block;
}
.hovereffect .overlay {
    max-width: 100%;
    position: relative;
    display: block;
    /* right: 0; */
    /* top: auto; */
    /* bottom: 0; */
    padding: 1em;
    height: auto;
    color: #fff;

}
.feat-block{
    padding:2px;
    margin-bottom: 2px;
    margin-top: 2px;
    border: 1px solid #eee;
    
}
.hovereffect .overlay a{
    color: #fff;
}
.feat-title{
    text-align: right;
}
.hovereffect .overlay i{
    margin: auto;
    text-align: center;
    width: auto;
}
.feat-title{
    max-height: 24px;
    overflow: hidden;
    padding-bottom: 5px;
    border-bottom: 1px solid #fff;
}
.hovereffect .feat-img{
    width: 100%;
    display: block;
    position: relative;
}
.hovereffect img{
    margin: auto;
}
.hovereffect .overlay a {
    color: #555;
}
.hovereffect .overlay {
    background-color: #fff;
    color: #555;
}
.overlay .fa-heart{
    color: #fd3e4f ;
}
.overlay .fa-share-alt{
    color: #1be6b8 ;
}
.overlay .fa-eye{
    color: #03b5ff ;
}
.overlay .col-xs-3 {
        border-right: 1px solid rgba(208, 208, 208, 0.55);
    padding: 0;
}
 .overlay .col-xs-6{
    margin-top: 13px;
}
/*
.hovereffect:hover .overlay{
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.hovereffect:hover .feat-title{
    transform: translateY(33%);
    top: 30%;
}
.hovereffect:hover .overlay .col-xs-4 {
    transform: translateY(-40%);
    top: 50%;
}
*/
/*feature-slider edit*/



.ajax-upload-dragdrop{
    width: 100% !important;
    text-align: center !important;
    height: 150px !important;
    line-height: 125px !important;
}
.ajax-file-upload-statusbar {
    width:24% !important;
    display: inline-block;
    overflow: hidden;
}
.ajax-file-upload-filename {
    width: 300px;
    height: 35px;
    overflow: hidden;
}
.ajax-file-upload{
    top: 57%;
    display: block;
    width: 70px;
    margin: 0 auto;
}
.ajax-upload-dragdrop .h5{
    margin-top: -30px;
    display: block;
}

/* merge css  */
p.h3 strong ,p.h4 strong ,p.h5 strong{
    padding-bottom: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    display: inline-block;
}
p.h4 strong{
    margin-bottom: auto;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    border: none;
}
.table>tbody>tr>td, .table>tbody>tr>th{
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}
.table>tbody>tr>th{
    border-right: 1px solid #ddd;
}
.table>tbody>tr>td{
    border-left: 1px solid #ddd;
}
.mini-t>tbody>tr>td{
    border: none;
}
.dropdown-menu a , .dropdown-menu , .top-links li a {
    color: #112d39;
}
.navbar-default  , .adslii-btn  , .rights{
    background-color: #112d39;
}
.green-btn , .red-btn , .blue-btn , .drblue-btn, .pink-btn{
    color: #fff;
}
.green-btn , .add-share-what , #search-bar{
    background-color: #1be6b8 ;
    border: 1px solid transparent;
}
.red-btn , .add-share-fav ,  .featured::after{
    background-color: #fd3e4f ;
    border: 1px solid transparent;
}
.blue-btn ,.add-share-twit{
        background-color: #03b5ff ;
    border: 1px solid transparent;

}
.drblue-btn , .add-share-fac{
        background-color: #3b5998 ;
    border: 1px solid transparent;

}
.pink-btn{
    background-color: #eb42ff ;
    border: 1px solid transparent;
}
.green-text{
    color: #1be6b8;
}
.red-text{
    color: #fd3e4f;
}
.pink-text{
    color: #eb42ff;
}
.blue-text{
    color: #03b5ff;
}
.drblue-text{
    color: #3b5998;
}

.purple-text{
    color: #a282ff;
}

.green-btn:hover , .green-btn:focus{
    color: #1be6b8 ;
    background-color: transparent;
    border-color: #1be6b8 ;
}
.red-btn:hover , .red-btn:focus {
    color: #fd3e4f ;
    background-color: transparent;
    border-color: #fd3e4f ;
}
.blue-btn:hover , .blue-btn:focus{
    color: #03b5ff ;
    background-color: transparent;
    border-color: #03b5ff ;
}
.drblue-btn:hover , .drblue-btn:focus{
    color: #3b5998 ;
    background-color: transparent;
    border-color: #3b5998 ;
}
.pink-btn:hover , .pink-btn:focus{
    color: #eb42ff ;
    background-color: transparent;
    border-color: #eb42ff ;
}
.green-border, .overlay.green-btn{
    border-color: #1be6b8 ;
}

.blue-border  , .feat-title{
    border-color: #03b5ff ;

}
.add-share-inst{
    background-color: #ede020;
    border: 1px solid transparent;
}
.red-border, .feat-block .featured , .featured .feat-title{
    border-color: #fd3e4f ;
}
.pink-border, .overlay.pink-btn{
    border-color: #eb42ff ;
}
.red-gr , .source-links , footer .social li a .fa-youtube:hover , footer .social li a .fa-youtube:focus {
    background: #fd3fb3;
    background: -webkit-linear-gradient(45deg,#fd3fb3 0,#fd3f81 30%,#fd3e4f 79%);
    background: -o-linear-gradient(45deg,#fd3fb3 0,#fd3f81 30%,#fd3e4f 79%);
    background: linear-gradient(45deg,#fd3fb3 0,#fd3f81 30%,#fd3e4f 79%);
}
.green-gr , footer .social li a .fa-facebook:hover , footer .social li a .fa-facebook:focus{
    background: #49e5f3;
    background: -webkit-linear-gradient(45deg,#49e5f3 0,#32e6d6 37%,#1be6b8 100%);
    background: -o-linear-gradient(45deg,#49e5f3 0,#32e6d6 37%,#1be6b8 100%);
    background: linear-gradient(45deg,#49e5f3 0,#32e6d6 37%,#1be6b8 100%);
}
 .blue-gr , .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus
, footer .social li a .fa-twitter:hover , footer .social li a .fa-twitter:focus{
    background: #00deff;
    background: -webkit-linear-gradient(45deg,#00deff 0,#02caff 56%,#03b5ff 100%);
    background: -o-linear-gradient(45deg,#00deff 0,#02caff 56%,#03b5ff 100%);
    background: linear-gradient(45deg,#00deff 0,#02caff 56%,#03b5ff 100%);
}
.pink-gr , footer .social li a .fa-instagram:hover , footer .social li a .fa-instagram:focus{
    background: #ff89d4;
    background: -webkit-linear-gradient(45deg,#ff89d4 0,#f566ea 38%,#eb42ff 79%);
    background: -o-linear-gradient(45deg,#ff89d4 0,#f566ea 38%,#eb42ff 79%);
    background: linear-gradient(45deg,#ff89d4 0,#f566ea 38%,#eb42ff 79%);
}
.purple-gr{
    background: #c296ff;
    background: -webkit-linear-gradient(45deg,#c296ff 0,#a282ff 56%,#826efe 100%);
    background: -o-linear-gradient(45deg,#c296ff 0,#a282ff 56%,#826efe 100%);
    background: linear-gradient(45deg,#c296ff 0,#a282ff 56%,#826efe 100%);
}
.yellow-gr{
    background: #ede020;
    background: -webkit-linear-gradient(45deg,#ede020 0,#f6cd10 34%,#ffba00 100%);
    background: -o-linear-gradient(45deg,#ede020 0,#f6cd10 34%,#ffba00 100%);
    background: linear-gradient(45deg,#ede020 0,#f6cd10 34%,#ffba00 100%);
}

#search-bar form button:hover , #search-bar form button:focus{
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}
.featured::after {
    content: "مميز";
    width: 300px;
    height: 30px;
    position: absolute;
    top: 14px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    transform: rotate(-45deg);
    left: -116px;
}
.ad a:hover , .ad a:focus, #search-bar form button:hover , #search-bar form button:focus , .serv-block img , .serv-block:hover  , .feat-block:hover {
    -webkit-box-shadow: 0 22px 45px 0 rgba(0,0,0,.2);
    box-shadow: 0 22px 45px 0 rgba(0,0,0,.2);
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
    transform: translateY(-2px);
}
.green-btn , .red-btn , .blue-btn ,.drblue-btn, .pink-btn , .dropdown-menu , .hovereffect  , .hovereffect .col-xs-4, .serv-block:hover , .feat-block , .source-links , .go-link , .go-view , .navbar-nav>li>a{ 
    -webkit-transition: all 0.3s ease-in-out ;
    -moz-transition: all 0.3s ease-in-out ;
    -o-transition: all 0.3s ease-in-out ;
    -ms-transition: all 0.3s ease-in-out ;
    transition: all 0.3s ease-in-out ;
}
.rounded{
    border-radius: 20px;
}
/* merge css  */
.radio-inline{font-size: 15px;}